<div class="forum topic container">
  <h3>Edit a topic</h3>
  <%= form_for(@topic, url: edit_topic_path, method: :patch) do |f| %>
    <% if @topic.errors.any? %>
      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
      </ul>
    <% end %>

    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>

    <input style="display: none;" value=<%= current_user.id %> name="topic[creator_id]"/>
    <input style="display: none;" value=<%= @forum.id %> name="topic[forum_id]"/>

    <p><%= f.submit "Save" %></p>
  <% end %>
</div>
