<div class="forum container">
  <h3>Edit a forum</h3>
  
  <%= form_for(@forum, url: edit_forum_path, method: :patch) do |f| %>
    <% if @forum.errors.any? %>
      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
      </ul>
    <% end %>

    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>

    <input style="display: none;" value=<%= current_user.id %> name="forum[creator_id]"/>
    <p><%= f.submit "Save" %></p>

  <% end %>
</div>
