<div class="splash-back stardust">
<div class="container" style="margin: 0 auto; max-width: 1280px; width: 85%; padding-bottom: 1rem">
  <div class="card-panel center">
    <h3>What is Alpha Phi Omega?</h3>
    <p>Alpha Phi Omega is the nation's largest co-educational community service fraternity.</p>
    <p>Established in 1925 and has grown to include chapters across the United States, Canada, the Philippines, and Australia.</p>
    <p>Rho Pi is Alpha Phi Omega's chapter in University of California, San Diego and is the largest professional fraternity on campus.</p>
    <p>Every chapter revolves around three cardinal principles: Leadership, Friendship and Service. We aim to develop our understanding of these three principles and strive to provide service to the fraternity, to the campus, to the community and to the country.</p>
  </div>
  <div class="card-panel center">
    <h3>Our Three Cardinal Principles</h3>
    <p><em>the foundation of the fraternity</em></p>
    <div class="row">
      <div class="col m4 s12">
        <h5>Leadership</h5>
        <p>As a professional fraternity, we seek to develop leaders by offering opportunities to get involved! We have a multitude of leadership positions for both pledges and actives. These opportunities include large-scale event planning to reaching out to other chapters at the national level.</p>
      </div>
      <div class="col m4 s12">
        <h5>Friendship</h5>
        <p>Brotherhood is the spirit of friendship. Our fraternity is built on the foundation of brotherhood, and we emphasize that through activities and fellowships for members to get together.</p>
      </div>
      <div class="col m4 s12">
        <h5>Service</h5>
        <p>Every year, Alpha Phi Omega Rho Pi completes over 7,000 hours of community service. We aim to serve our chapter, our campus, our community and our country. Our service program is extremely diverse, with many types of community service.</p>
      </div>
    </div>
  </div>
  <div class="card-panel center">
    <h3>Community Service</h3>
    <p>We provde over 7,000 hours of community service, which include the following:</p>
    <p><strong>Operation Santa<br>WAPI<br>Feeding the Homeless<br>San Diego Refugee Tutoring<br>Kennel Comforters<br>and more!</strong></p>
    <p>Our service projects are always expanding into different fields and we would love for you to come join us in our mission to serve others. If you have an service project idea, don't be afraid to contact us about it!</p>
  </div>
  <div id="contact" class="card-panel center">
    <h3>Our Executive Board Members</h3>
    
    <% count = 0 %>
    <% arr = [
        ["Rateb Mir", "President", "president@aporhopi.org"],
        ["Bruce Wong", "Sergeant at Arms", "sata@aporhopi.org"],
        ["Svein Gonzalez", "Service Vice President", "service@aporhopi.org"],
        ["Yvette Laguitan", "Service Secretary", "service@aporhopi.org"],
        ["Aldrich Quijano", "Membership Vice President", "membership@aporhopi.org"],
        ["Sarah Chang", "Membership Secretary", "membership@aporhopi.org"],
        ["Darin Lee", "Finance Vice President", "finance@aporhopi.org"],
        ["Sharon Tu", "Finance Secretary", "finance@aporhopi.org"],
        ["Sylvia O", "Fellowship Vice President", "fellowship@aporhopi.org"],
        ["Tram Nguyen", "Interchapter Vice President", "interchapter@aporhopi.org"],
        ["Matthew Ho", "Interchapter Secretary", "interchapter@aporhopi.org"],
        ["Kenny Seng", "Pledge Trainer", "pta@aporhopi.org"],
        ["Ashlyn Youn", "Pledge Trainer Secretary", "pta@aporhopi.org"],
        ["Karen Ma", "Pledge Guardian Chair", "pta@aporhopi.org"],
        ["Diana Wong", "Professional Development Chair", "pdc@aporhopi.org"],
        ["Kelsey Guo", "Alumni Secretary", "alumnisec@aporhopi.org"],
        ["Chanel Tonnu", "Publicity Chair", "publicity@aporhopi.org"],
        ["Evan Kwong", "Media Chair", "media@aporhopi.org"],
        ["Kevin Lim", "Webmaster", "webmaster@aporhopi.org"],
        ["John Lieu", "Historian", "historian@aporhopi.org"],
        ["Adeline Chiang", "Administrative Secretary", "admin@aporhopi.org"]] %>

    <% arr.each do |eboard| %>
      <% if count % 3 == 0 %>
        <div class="row left-align">
      <% end %>
    
      <div class="col m4 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %> <!--Change to reflect photos-->
            <span class="card-title white-text"><%= eboard[0] %></span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p><%= eboard[1] %></p>
            <a href=<%= eboard[2] %>><%= eboard[2] %></a>
          </div>
        </div>
      </div>
    
      <% if count % 3 == 2 %>
        </div>
      <% end %>
    
      <% count = count + 1 %>
    <% end %>
    
  </div>
</div>
</div>