<div class="splash-back stardust">
<div class="container" style="margin: 0 auto; max-width: 1280px; width: 85%; padding-bottom: 1rem">
  <div class="card-panel center">
    <h3>What is Alpha Phi Omega?</h3>
    <p>Alpha Phi Omega is the nation's largest co-educational community service fraternity.</p>
    <p>Established in 1925 and has grown to include chapters across the United States, Canada, the Philippines, and Australia.</p>
    <p>Rho Pi is Alpha Phi Omega's chapter in University of California, San Diego and is the largest professional fraternity on campus.</p>
    <p>Every chapter revolves around three cardinal principles: Leadership, Friendship and Service. We aim to develop our understanding of these three principles and strive to provide service to the fraternity, to the campus, to the community and to the country.</p>
  </div>
  <div class="card-panel center">
    <h3>Our Three Cardinal Principles</h3>
    <div class="row">
      <div class="col l4 m6 s12">
        <h5>Leadership</h5>
        <p>As a professional fraternity, we seek to develop leaders by offering opportunities to get involved! We have a multitude of leadership positions for both pledges and actives. These opportunities include large-scale event planning to reaching out to other chapters at the national level.</p>
      </div>
      <div class="col l4 m6 s12">
        <h5>Friendship</h5>
        <p>Brotherhood is the spirit of friendship. Our fraternity is built on the foundation of brotherhood, and we emphasize that through activities and fellowships for members to get together.</p>
      </div>
      <div class="col l4 m6 s12">
        <h5>Service</h5>
        <p>Every year, Alpha Phi Omega Rho Pi completes over 7,000 hours of community service. We aim to serve our chapter, our campus, our community and our country. Our service program is extremely diverse, with many types of community service.</p>
      </div>
    </div>
  </div>
  <div class="card-panel center">
    <h3>Community Service</h3>
    <p>We provde over 7,000 hours of community service, which include the following:</p>
    <p><strong>Operation Santa<br>WAPI<br>Feeding the Homeless<br>San Diego Refugee Tutoring<br>Kennel Comforters<br>and more!</strong></p>
    <p>Our service projects are always expanding into different fields and we would love for you to come join us in our mission to serve others. If you have an service project idea, don't be afraid to contact us about it!</p>
  </div>
  <div id="contact" class="card-panel center">
    <h3>Our Executive Board Members</h3>
    <!--Row 1-->
    <div class="row left-align">
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Rateb Mir</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>President</p>
            <a href="mailto:president@aporhopi.org">president@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Bruce Wong</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Sergeant at Arms</p>
            <!--<a href="mailto:president@aporhopi.org">president@aporhopi.org</a>-->
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Svein Gonzalez</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>President</p>
            <a href="mailto:service@aporhopi.org">service@aporhopi.org</a>
          </div>
        </div>
      </div>
    </div>
    
    <!--Row 2-->
    <div class="row left-align">
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Yvette Laguitan</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Service Secretary</p>
            <a href="mailto:service@aporhopi.org">service@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Aldrich Quijano</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Membership Vice President</p>
            <a href="mailto:membership@aporhopi.org">membership@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Sarah Chang</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Membership Secretary</p>
            <a href="mailto:membership@aporhopi.org">membership@aporhopi.org</a>
          </div>
        </div>
      </div>
    </div>
    
    <!--Row 3-->
    <div class="row left-align">
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Darin Lee</span></span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Finance Vice President</p>
            <a href="mailto:finance@aporhopi.org">finance@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Sharon Tu</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Finance Secretary</p>
            <a href="mailto:membership@aporhopi.org">finance@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Sylvia O</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Fellowship Vice President</p>
            <a href="mailto:fellowship@aporhopi.org">fellowship@aporhopi.org</a>
          </div>
        </div>
      </div>
    </div>
    
    <!--Row 4-->
    <div class="row left-align">
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Tram Nguyen</span></span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Interchapter Vice President</p>
            <a href="mailto:interchapter@aporhopi.org">interchapter@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Matthew Ho</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Interchapter Secretary</p>
            <a href="mailto:interchapter@aporhopi.org">interchapter@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Kenny Seng</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Pledge Trainer</p>
            <a href="mailto:pta@aporhopi.org">pta@aporhopi.org</a>
          </div>
        </div>
      </div>
    </div>
    
    <!--Row 5-->
    <div class="row left-align">
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Ashlyn Youn</span></span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Pledge Trainer Secretary</p>
            <a href="mailto:pta@aporhopi.org">pta@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Karen Ma</span></span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Pledge Guardian Chair</p>
            <a href="mailto:pta@aporhopi.org">pta@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Diana Wong</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Professional Development Chair</p>
            <a href="mailto:interchapter@aporhopi.org">interchapter@aporhopi.org</a>
          </div>
        </div>
      </div>
    </div>
    
    <!--Row 6-->
    <div class="row left-align">
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Kelsey Guo</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Alumni Secretary</p>
            <a href="mailto:alumnisec@aporhopi.org">alumnisec@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Channel Tonnu</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Publicity Chair</p>
            <a href="mailto:publicity@aporhopi.org">publicity@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Evan Kwong</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Media Chair</p>
            <!--<a href="mailto:webmaster@aporhopi.org">webmaster@aporhopi.org</a>-->
          </div>
        </div>
      </div>
    </div>
    
    <!--Row 7-->
    <div class="row left-align">
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Kevin Lim</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Webmaster</p>
            <a href="mailto:webmaster@aporhopi.org">webmaster@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">John Lieu</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Historian</p>
            <a href="mailto:historian@aporhopi.org">historian@aporhopi.org</a>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image">
            <%= image_tag "palms.png" %>
            <span class="card-title white-text">Adeline Chiang</span>
          </div>
          <div class="card-content" style="padding-top: 0">
            <p>Administrative Secretary</p>
            <a href="mailto:admin@aporhopi.org">admin@aporhopi.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>