<div class="splash-back sativa">
<div class="container">
	<div class="card-panel blue darken-2">
		<h1 class="centered-title">Admin Panel</h1>
	</div>
	<div class="row">
	  <div class="col s12 m6 l3">
	    <div class="card-panel admin-card">
	      <div class="card-image">
	      	<%= link_to new_event_path do %>
	        	<%= image_tag "calendar.png" %>
	        <% end %>
	      </div>
	      <div class="card-content">
	        <%= link_to "Create a new event", new_event_path, class: "action-link" %>
	      </div>
	    </div>
	  </div>
	  <div class="col s12 m6 l3">
	    <div class="card-panel admin-card">
	      <div class="card-image">
	      	<%= link_to approve_path do %>
	        	<%= image_tag "pin.png" %>
	        <% end %>
	      </div>
	      <div class="card-content">
	        <%= link_to "Validate Users", approve_path, class: "action-link" %>
	      </div>
	    </div>
	  </div>
	  <div class="col s12 m6 l3">
	    <div class="card-panel admin-card">
	      <div class="card-image">
	      	<%= link_to users_path(id: current_user.id) do %>
	        	<%= image_tag "list.png" %>
	        <% end %>
	      </div>
	      <div class="card-content">
	        <%= link_to "Member List", users_path(id: current_user.id), class: "action-link" %>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</div>