<div class="container">
	<div class="row">
		<div class="col s12 l6 m7">
			<div class="card">
				<% if @spotlight %>
					<div class="card-image">
						<img src=<%= @spotlight[0]['photos'][0]['alt_sizes'][0]['url'] %>>
						<span class="card-title" style="color: white;">Spotlight</span>
					</div>
					<div class="card-content">
						<p>
							<%= @spotlight[0]['caption'].html_safe %>
						</p>
					</div>
				<% else %>
					<div class="card-content">
						<h5 class="faded">Error loading spotlight.</h4>
					</div>
				<% end %>
			</div>
			<%= link_to calendar_path do %>
				<div class="btn blue-grey waves-effect waves-light calendar-link">
		      <%= image_tag "calendar.png", height: 40 %> Calendar
				</div>
			<% end %>
		</div>
		<div class="col s12 l6 m5">
			<div class="card-panel">
				<h5 class="card-title">Services This Week</h5>
				<% if @services.any? %>
					<% @services.each_pair do |date, events| %>
						<div class="event-date"><%= date %></div>
						<% events.each do |e| %>
							<div class="event-thumb">
								<%= link_to e.title, event_path(e) %>: <%= e.start_time.strftime("%-I:%M %p") %>
							</div>
						<% end %>
					<% end %>
				<% else %>
					<div class="no-participants">
						No services posted yet.
					</div>
				<% end %>
			</div>
			<div class="card-panel">
				<h5 class="card-title">Events This Week</h5>
				<% if @events.any? %>
					<% @events.each_pair do |date, events| %>
						<div class="event-date"><%= date %></div>
						<% events.each do |e| %>
							<div class="event-thumb">
								<%= link_to e.title, event_path(e) %>: <%= e.start_time.strftime("%-I:%M %p") %>
							</div>
						<% end %>
					<% end %>
				<% else %>
					<div class="no-participants">
						No events posted yet.
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
