<div class="splash-back <%= "blue-tile" if user_signed_in? %>">
	<div class="container">
		<div class="row">
			<% unless user_signed_in? %>
			<div class="col s12 l8">
				<div class="hero-text">
					Alpha Phi Omega
					<p>Rho Pi</p>
					<span>University of California San Diego</span>
				</div>
				<!-- http://codyhouse.co/gem/css-animated-headlines/ -->
				<section class="cd-intro">
					<div class="cd-headline clip is-full-width">
						<span>Alpha Phi Omega stands for </span>
						<span class="cd-words-wrapper">
							<b class="is-visible">leadership</b>
							<b>friendship</b>
							<b>service</b>
						</span>
					</div>
				</section>
			</div>
			<div class="col s12 l4">
          <div class="card">
            <div class="card-content">
            	<div class="text-center">
            		<%= image_tag "crest.png", width: 140 %>
            	</div>
            	<span class="card-title">Member Login</span>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							  <div class="input-field">
							    <%= f.label :username %>
							    <%= f.text_field :login %>
							  </div>
							  <div class="input-field">
							    <%= f.label :password %>
							    <%= f.password_field :password, autocomplete: "off" %>
							  </div>
							  <% if devise_mapping.rememberable? -%>
							    <div class="input-field gap">
							      <%= f.check_box :remember_me %>
							      <%= f.label :remember_me %>
							    </div>
							  <% end -%>
							  <div class="text-center">
							    <%= f.submit "Sign In", class: "btn yellow darken-2 separate" %><br />
                  <%= link_to "Forgot Password", new_user_password_path, class: "small-link" %>
							  </div>
							<% end %>
            </div>
          </div>
        </div>
        <% else %>
        <div class="col s12">
        	<div class="row">
        		<div class="col s12 l8">
	        		<%= render 'tumblr', posts: @posts %>
        		</div>
	        	<div class="col s12 l4">
              <% if @gbm %>
                <div class="card gbm">
                  <div class="card-image">
                    <%= image_tag 'gbm.png' %>
                    <span class="card-title white-text"><%= @gbm['title'] %></span>
                  </div>
                  <div class="card-content">
                    <%= @gbm['body'].html_safe %>
                  </div>
                </div>
              <% end %>
	        		<div class="card-panel">
				    		<h5>My Upcoming Events</h5>
				    	<% if @events == nil || @events.empty? %>
                <div class="faded">
                  Not signed up for any events.
                </div>
              <% else %>
                <%= render 'event/events_by_time', events: @events %>
              <% end %>
 							</div>
							<div class="card-panel">
								<h5>Links</h5>
                <%= link_to 'Forums', 'http://aporhopi.org/forums/' %><br />
                <%= link_to 'Pledge Photos', info_path %><br />
                <%= link_to 'Active Requirements',
                  'https://www.dropbox.com/s/kb1qdztcj1nez99/aporeqs-1.pdf', target: '_blank' %><br />
                <%= link_to 'Pledge Requirements',
                  'https://www.dropbox.com/s/7gc0bojilso7heh/pledge%20infograph.pdf', target: '_blank' %><br />
                <%= link_to "Edit your profile", update_user_path(current_user) %><br />
                <h5>Finance</h5>
                <%= link_to 'Reimbursement Policies',
                  'https://dl.dropboxusercontent.com/u/30628607/Reimbursement-Policies.pdf', target: '_blank' %><br />
                <%= link_to 'Reimbursement Form',
                  'https://dl.dropboxusercontent.com/u/30628607/requisitionform.doc', target: '_blank' %><br />
                <%= link_to 'Gas Reimbursement',
                  'https://dl.dropboxusercontent.com/u/30628607/gas-reimbursement-form.doc', target: '_blank' %>
							</div>
	        	</div>
	        </div>
        </div>
        <% end %>
		</div>
	</div>
</div>

<% content_for :javascript do %>
	<%= javascript_include_tag "page" %>
<% end %>
