<% if event.participants.any? %>
	<div class="signup-title <%= event.event_type.downcase %>">
		<h5>Signup Sheet</h5>
	</div>
	<% attendances = @event.end_time < Time.now ? event.attendances.where("flaked = ? AND replacement_flaked = ?", false, false) : event.attendances %>
  <% if @event.end_time < Time.now && attendances.empty? %>
  	<% if @event.chair_id %>
	  	<div class="text-center card-panel">
	  		<strong>Waiting for <%= User.find(@event.chair_id).displayname %> to submit the Chairsheet.</strong>
	  	</div>
	  <% else %>
	  	<div class="text-center card-panel red lighten-4">
	  		<strong>Error: this event has no chair.</strong><br />
	  		Please give the <%= link_to "link to this event", event_path(@event) %> to the webmaster.
	  	</div>
	  <% end %>
	<% else %>
		<ul class="collection">
			<li class="collection-item row light-blue lighten-5">
				<div class="col s1">#</div>
		    <div class="col s4">Name</div>
		    <div class="col s3">Phone Number</div>
		    <div class="col s2">Family</div>
		    <div class="col s2">Driving</div>
		  </li>
		  <% attendances.each_with_index do |a, index| %>
		  	<% p = User.find(a.user_id) rescue nil %>
		  	<% if p %>
			  	<% waitlist = event.attendance_cap > 0 && index + 1 > event.attendance_cap %>
				  <li class="collection-item row <%= event.chair_id == p.id ? "yellow lighten-2" : "" %>
				  	<%= waitlist  ? "blue-grey lighten-4" : "" %>">
				  	<div class="col s1"><%= waitlist ? "-" : index+1 %></div>
				    <div class="col s4">
				    	<% if current_user.admin %>
				    		<%= link_to p.displayname, user_path(p.id) %>
				    	<% else %>
				    		<% p.displayname %>
				    	<% end %>
				    </div>
				    <div class="col s3"><%= number_to_phone(p.phone, area_code: true) %></div>
				    <div class="col s2"><% if p.family.blank? %>-<%else%><%= p.family %><%end%></div>
				    <div class="col s2"><% if a.can_drive || a.drove %>Yes<% elsif p.car %>No<% end %></div>
				  </li>
				 <% else %>
				 	<li class="collection-item row faded">
				 		<div class="col s1"><%= waitlist ? "-" : index+1 %></div>
				 		<div class="col s11">Removed</div>
				 	</li>
				 <% end %>
			<% end %>
		</ul>
	<% end %>
<% else %>
	<div class="card-panel no-participants">
		Be the first to sign up!
	</div>
<% end %>
