<div class="container">
  <h3><% if current_user.id == @user.id %> <%= "Your Greensheet" %>
      <% else %> <%= "#{@user.firstname}'s Greensheet" %> <% end %></h3>
  <p class="requirement-counter service">Service Hours: <%= @hours %></p>
  <p class="requirement-counter fellowship">Fellowships: <%= @fellowships %></p>
  <p class="requirement-counter fundraising">Fundraising: <%= @fundraise %></p>
  <p class="requirement-counter interchapter">Interchapter: <%= @ics %></p>
  <p class="requirement-counter family">Family: <%= @family%></p>
  <p class="requirement-counter rush">Rush: <%= @rush %></p>
    <% @sections.each do |s| %>
      <% if s.event_type == "Other" %>
      <% @eventtypes = ["Other", "#{s.original_event_type}"] %>
      <% else %>
      <% @eventtypes = ["#{s.event_type}", "Other"] %>
      <% end %>

      <%= simple_form_for s, url:greensheet_path, method: :patch do |f| %>

            <div class="card-panel">
              <div class="reqs">
                <%= f.input :title, disabled: true %>

                <%= f.input :start_time, label: 'Date', as: :date, 
                            html5: true, disabled: true %>

                <% if current_user.admin %>
                <%= f.input :hours %>
                <% else %>
                <%= f.input :hours, disabled: true %>
                <% end %>

                <!-- current person chaired event -->
                <% if User.find(f.object.user_id).displayname == f.object.chair %>
                  <%= f.input :chair, input_html: {class: "self-chaired"} %>
                <% else %>
                  <%= f.input :chair %>
                <% end %>

                <%= f.input_field :event_type, label: "Type", collection:
                @eventtypes%>
                <%= f.input :id, as: :hidden %>
                <%= f.submit "Update" %>
              </div>
          </div>

      <% end %> <!-- end of form -->
    <% end %>

    <% if !@sections.any? %>
      <p>You don't have any events yet.</p>
    <% end %>

    <% @texts.each do |t| %>
      <%= form_for t, url:greensheet_path, method: :patch do |f| %>
        <div class="card-panel comment">
          <h5><%= t.title %></h5>
          <p><%= t.description %></p>
          <%= f.text_area :text %>
          <%= f.hidden_field :id %>
          <%= f.submit "Update" %>
        </div>
      <% end %>
    <% end %>

</div>

