<div class="container">
  <h3><% if current_user.id == @user.id %> <%= "Your Greensheet" %>
      <% else %> <%= "#{@user.firstname}'s Greensheet" %> <% end %></h3>
    <% @sections.each do |s| %>
      <%= simple_form_for s, url:greensheet_path, method: :patch do |f| %>

            <div class="card-panel">
              <div class="row">
                <%= f.input :title %>

                <%= f.input :start_time, label: 'Date', as: :date, 
                            html5: true %>

                <%= f.input :hours %>

                <%= f.input :chair %>

                <%= f.input :event_type, label: "Type",
                            selected: f.object.event_type %>
                <%= f.input :id, as: :hidden %>
              </div>
          </div>
        <%= f.submit "Update" %>

      <% end %> <!-- end of form -->
    <% end %>

      <% if !@sections.any? %>
        <p>You don't have any events yet.</p>
      <% end %>

</div>

